.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.all-customers {
  margin: 40px auto;
  width: 80%;
  text-align: center;
}

.table-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: black;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #111;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.customer-table th, 
.customer-table td {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.customer-table th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.customer-table tr:hover {
  background-color: #222;
  transition: background-color 0.3s ease;
}

.empty-row {
  color: #bbb;
  font-style: italic;
}


.search-section {
  text-align: center;
  margin: 25px 0;
}

.search-bar {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 60%;
  max-width: 700px;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #555;
  font-size: 18px;
}

.search-input {
   font-family: "Zalando Sans SemiExpanded", sans-serif;
  width: 100%;
  padding: 10px 15px 10px 38px; 
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



.category-filter {
  margin-left: 25px;
  padding: 10px 15px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-filter:hover {
  background-color: #000;
  color: #fff;
}

